<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/hanzi-writer@3.2/dist/hanzi-writer.min.js"></script>
    <title>Writing {{character}}</title>
    <style>
      input {
        background-color: #ffc65f;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        border: none;
      }
    </style>

    <script>

      let chars = [];
      let size = window.innerWidth / ({{charamt}} + 1.2/{{charamt}});


      function anim(index){
        if(!chars[index]){
          index = 0;
          for (let i = 0; i < chars.length; i++) {
            chars[i].hideCharacter();
          }
        };

        chars[index].animateCharacter({
            onComplete: function() {
              setTimeout(function(){anim(index+1)}, 150);
            }
          });
      }

      function ready() {


        {{#charlist}}

          let writer{{id}} = HanziWriter.create(
            "character-target-div-{{id}}",
            "{{character}}",
            {
              width: size,
              height: size,
              padding: 5,
              showOutline: true,
              strokeAnimationSpeed: 1.5,
              delayBetweenStrokes: 300,
              radicalColor: "#337ab7",
            }
          );
          writer{{id}}.hideCharacter();
          {{#simultaneous}}
             writer{{id}}.loopCharacterAnimation();
          {{/simultaneous}}

          chars.push(writer{{id}});
        {{/charlist}}

        {{^simultaneous}}
          anim(0)
        {{/simultaneous}}

      }

      document.addEventListener("DOMContentLoaded", ready);
    </script>
  </head>
  <body style="background: rgb(255, 232, 130); margin: 0">
    <div
      style="
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
      "
    >
      <div style="display: flex; justify-content: center">
        {{#charlist}}
        <div id="character-target-div-{{id}}" style="width: fit-content"></div>
        {{/charlist}}
      </div>
      <center>
        <form action="/" method="get">
          <input
            name="word"
            placeholder="打汉字"
            type="text"
            value="{{character}}"
          />
        </form>
        <h2>{{label}}</h2>
      </center>
    </div>
  </body>
</html>
